<style>
    footer{
        padding: 2rem 0 0 0;
        background-color: #000;
        color: var(--white);
    }
    .footer-wrap{
        display: flex;justify-content: space-between;flex-flow: row wrap;
    }
    .footer-wrap>div{flex: 1 1 23%;}
    .foot-logo{font-size: 2rem;font-weight: bolder;}
    .foot-social>a{background-color: var(--primary);padding: 15px;
    border-radius: 5px;margin-right: 5px;transition: all 0.2s ease-in;}
    .foot-social>a:hover{transform: translateY(-5px);}
    .foot-head{font-size: 1.2rem;}
    .foot-links>ul>li>a, .foot-contact>li{padding: 0.4rem;}
    .copyright{padding: 0.5rem 1rem;text-align: center;background-color: var(--black);}
</style>

<footer>
    <div class="container mb-2">
        <div class="footer-wrap">
            <div class="site-info">
                <h3 class="foot-logo mb-1"><a href="/index.html">.shop<span class="text-primary">NEST</span></a></h3>
                <p class="mb-2">Shop your favorite items</p>
                <a href="" class="primary-btn mb-2">Get in Touch</a>
                <div class="foot-social">
                    <a href=""><i class="fa-brands fa-facebook"></i></a>
                    <a href=""><i class="fa-brands fa-instagram"></i></a>
                    <a href=""><i class="fa-brands fa-youtube"></i></a>
                    <a href=""><i class="fa-brands fa-pinterest"></i></a>
                </div>
            </div>
            <div class="foot-links">
                <h3 class="foot-head mb-1">Quick links</h3>
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">Contact</a></li>
                </ul>
            </div>
            <div class="foot-links">
                <h3 class="foot-head mb-1">Important links</h3>
                <ul>
                    <li><a href="">Privacy Policy</a></li>
                    <li><a href="">Terms of Use</a></li>
                    <li><a href="">Disclaimer</a></li>
                </ul>
            </div>
            <div class="foot-links">
                <h3 class="foot-head mb-1">Get in Touch</h3>
                <ul class="foot-contact mb-2">
                    <li><i class="fa-solid fa-map-marker"></i> 212, Model Town, New York, NY, 131A12</li>
                    <li><i class="fa-solid fa-envelope"></i> contact@shopnest.com</li>
                    <li><i class="fa-solid fa-phone"></i> +91-9898980998</li>
                </ul>
                <img src="https://static-assets-web.flixcart.com/fk-p-linchpin-web/fk-cp-zion/img/payment-method_69e7ec.svg" alt="">
            </div>
        </div>
    </div>
    <div class="copyright">
        <p>© 2025 All rights reserved</p>
    </div>
</footer>