<header>
    <div class="navbar-wrap">
        <div class="navbar-logo">
            <h3><a href="/index.html">.meme<span class="text-primary">HUB</span></a></h3>
        </div>
        <div class="navbar-btns">
            <a href="/index.html" class="nav-btn"><i class="fa-solid fa-compass"></i> Feed</a>
            <a href="/create-post.html" class="nav-btn"><i class="fa-solid fa-add"></i> Create</a>
            <a href="/my-memes.html" class="nav-btn"><i class="fa-solid fa-compass"></i> My Memes</a>
            <a href="/profile.html" class="nav-btn"><i class="fa-solid fa-circle-user"></i> Profile</a>
            
        </div>
        
        <div class="search-bar">
            <input type="text" placeholder="Search meme" id="searchInput">
            <a href="/login.html" class="primary-btn btn-sm" id="loginBtn">Login</a>
            <a href="/signup.html" class="primary-btn btn-sm" id="signupBtn">Signup</a>
        </div>
    </div>
</header>