
<div class="sidebar pd-3">
    <div class="section mb-2">
        <h4 class="text-primary mb-1">📌 Explore memes</h4>
        <a href="/index.html" class="mb-0">🏠 Home</a>
        <a href="#" class="filter-btn" data-filter="new">🆕 New Memes</a>
        <a href="#" class="filter-btn" data-filter="top24h">📈 Top 24H</a>
        <a href="#" class="filter-btn" data-filter="topWeek">📊 Top Week</a>
        <a href="#" class="filter-btn" data-filter="topAll">🏆 All-Time Top</a>

    </div>

    <div class="section mb-2">
        <h4 class="text-primary mb-1">🏅 Leaderboards</h4>
        <a href="/meme-of-day.html" class="mb-0">🔥 Meme of the Day</a>
        <a href="/weekly-winner.html" class="mb-0">📅 Weekly Winner</a>
        <a href="/top-memers.html" class="mb-0">🎖️ Top 10 memers</a>
    </div>

    <!-- After user logged in -->
     <div id="user-sidebar" class="hidden">
        <div class="section mb-2">
            <h4 class="text-primary mb-1">🎨 Tools</h4>
            <a href="/create-post.html" class="mb-0">➕ Create Meme</a>
            <a href="/drafts.html" class="mb-0">📝 Drafts</a>
        </div>

        <div class="section mb-2">
            <h4 class="text-primary mb-1">📊 My Analytics</h4>
            <a href="/my-memes.html" class="mb-0">📁 My Memes</a>
            <a href="/reporting.html" class="mb-0">📈 Meme Performance</a>
        </div>

        

        <div class="section">
            <h4 class="text-primary mb-1">⚙️ Account & Settings</h4>
            <a href="/profile.html" class="mb-0">👤 Profile</a>
            <a href="/settings.html" class="mb-0">⚙️ Settings</a>
            <a type="button" onclick="logout()" class="mb-0">🚪 Logout</a>
        </div>
    </div>
    <!-- After user logged in -->
    
</div>